:root {
  --blanco: #ffffff;
  --celeste1: #4a9cdd;
  --celeste2: #98d4fc;
  --celeste3: #4e89ac;
  --primario: #1b3b6b;
  --secundario: #84b0c4;
  --gris: #324656;
}

html {
  font-size: 65.2%;
  box-sizing: border-box; /* Hack para Box Model */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px; /* 1rem = 10px */
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 1.8rem;
}

/* Header */
/* .todo-header {
  display: flex;
  align-items: center;
  background-color: var(--primario);
} */
.titulo span {
  font-size: 2.8rem;
}
.nv-principal {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .nv-principal {
    flex-direction: row;
    justify-content: space-between;
  }
}
.nv-principal a {
  display: block;
  text-align: center;
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}
.nv-principal a:hover{
    background-color: var(--celeste2);
    color: var(--gris);
}
